# Ignore everything by default
*

# Exclude the scripts folder
!/scripts/

# Ignore the __pycache__ folder inside the scripts directory
/scripts/__pycache__/

# Allow files in the root directory
!/*

# Allow specific files in the scripts folder if needed (uncomment and modify as necessary)
# !/scripts/some_file

# Ignore all content in the 'rain' directory
rain/*

# Ignore all content in the 'mpres_data' directory
mpres_data/*

# Ignore all JSON files
*.json

# Ignore all .geojson files
*.geojson

# Ignore all .zip.sha256 files
*.zip.sha256