__pycache__/

# Ignore everything by default
*

# Exclude the scripts folder
!/scripts/

# Exclude everything inside scripts by default
/scripts/*

# Allow files in the root directory
!/*

# Allow specific files in the scripts folder if needed (uncomment and modify as necessary)
# !/scripts/some_file
