# Exclude the scripts folder
!/scripts/

# Ignore the __pycache__ folder inside the scripts directory
/scripts/__pycache__/

# Allow files in the root directory
!/*

# Allow specific files in the scripts folder if needed (uncomment and modify as necessary)
# !/scripts/some_file
